---
import Layout from "@components/layout/Layout.astro";
import { Heading } from "@navikt/ds-react";
import { getSkattekort } from "src/api/apiService";

const request = {
  fnr: "12345678901",
  inntektsaar: 2024,
};

const data = await getSkattekort(request); // Assuming this function fetches the data from the API
---

<Layout>
  <Heading level="1" size="large" spacing align="center"> Skattekort </Heading>
  <h3>{JSON.stringify(data)}</h3>
</Layout>
