.skattekort {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.skattekort > * + * {
  margin-top: 1rem;
}

.skattekort__loader {
  display: flex;
  justify-content: center;
}

.skattekort__name {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}
