.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.box {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--a-surface-subtle);
  position: relative;
}

.hvitbox {
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    position: relative;
}

.helptext {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  margin-bottom: 1rem;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-right {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-top: 10rem;
}

.input {
  width: 12rem;
}

.alert {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.result {
  background-color: var(--a-surface-subtle);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem 1.5rem;
  margin-top: 1rem;
}

.details dt {
  font-weight: 600;
}

.details dd {
  margin: 0;
}

.forskuddstrekk-list {
  margin: 0;
  padding-left: 1.5rem;
}

@media (width <= 640px) {
  .form {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .form-right {
    margin-top: 0;
    justify-content: flex-end;
  }
}

.skattekort {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}