.skattekortsearch {
  position: relative;
  background-color: var(--a-surface-alt-1-subtle);
  padding: 1.75rem;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.skattekortsearch > * + * {
  margin-top: 1.25rem;
}

.skattekortsearch__toggleitems {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.skattekortsearch__help {
  position: absolute;
  right: 1.25rem;
  top: 0;
}
